.work1{
  background-image: url("./../../data/img/work-1.jpg");
}
.work2{
  background-image: url("./../../data/img/work-2.jpg");
}
.work3{
   background-image: url("./../../data/img/work-3.jpg");
 }
.work4{
  background-image: url("./../../data/img/work-4.jpg");
}
.work5{
  background-image: url("./../../data/img/work-5.jpg");
}
.work6{
  background-image: url("./../../data/img/work-6.jpg");
}