//.welcome{
//  background-image: url("./barbershop.jpg");
//  background-color: firebrick;
//  height: 250px;
//  background-position: center;
//  background-repeat: no-repeat;
//  background-size: cover;
//  position: relative;
//  .content{
//    margin: auto;
//    padding-top: 75px;
//  }
//  h1{
//    color: #fff;
//    text-shadow: 2px 2px #8b8494;
//  }
//  .btn{
//    margin-top: 15px;
//  }
//}

.bg2 {
  background-image: url('./../../data/img/bg_2.jpg');
}
.middles{
  padding-top: 200px;
  color: #ffffff;
}